@use "./icons";
@use "./header/header-section";
@use "./header/content-section";
@use "./about/about-section";
@use "./solutions/solutions";
@use "./loading-page";

* {
       box-sizing: border-box;

} :root {
       font-size: 10px;
       --font-header: "Poppins", sans-serif;
       --font-body: "Inter", sans-serif;

       --primary-color     : #A85400;
       --second-color      : #252C32;
       --background-color  : #F6F6F6;
       --weight-color      : #fff;

       scroll-behavior: smooth;

} body * {
       font-family: var(--font-body);
       font-size: 1.3rem;
       line-height: 22px;
       text-decoration: none;
       list-style: none;
       padding: 0;
       margin: 0;
       color: var(--second-color);
} body {
       position: relative;
       padding-inline: 40px;
       overflow-x: hidden;
       @media (max-width: 768px) {
              padding-inline: 20px;
       }
}

h2.title {
       font-size: 28px;
       font-weight: bold;
       margin-bottom: 20px;  
       line-height: 40px;
}
h2.title strong {
       position: relative;
       color: var(--primary-color);
       font-size: inherit;
}

.vector-body1 {
       top: 290px; 
       right: 20px;
       z-index: -2;
}

.vector-body2 {
       top: 1100px; 
       left: -150px;
       z-index: -2;
       
       @media screen and (max-width: 992px) {
              top: 1650px; 
              left: -50px;
              
       }
}

img {
       user-select: none;
}

