#about {
       .info {
              // width: 100%;
              h2 {
                     width: 30vw;
              }
              h2 strong i {
                     position: absolute;
                     top: -32px;
                     left: 0;
              }
              p {
                     width: 50vw;
                     line-height: 23px;
              }
              p strong:hover {
                     color: var(--primary-color);
              }

              @media (max-width: 991px) {
                     width: 100%;
                    
                     h2, p {
                            width: 100%;
                     }
              }

              h3 {
                     margin-top: 15px;
              }

       }
}